@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.about__visual img,
.about__visual svg, .partners__block-visual img, .describe__visual img,
.describe__visual svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* line 27, src/scss/_utilities/_extend.scss */
.header__nav-block-title, .main__title, .popular__title, .about__title, .partners__block-title, .describe__title {
  font-family: 'Inter', sans-serif;
}

/* line 30, src/scss/_utilities/_extend.scss */
.logo__text {
  font-family: 'DM Serif Text', serif;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before, .icon-instagram:before, .icon-twitter:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-instagram:before {
  content: "";
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-twitter:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1265px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 6, src/scss/_shared/_common.scss */
.copyright__text {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
}

/* line 14, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 18, src/scss/_shared/_common.scss */
.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 29, src/scss/_shared/_common.scss */
.social__link--twitter:hover {
  background-color: #1da1f2;
}

/* line 34, src/scss/_shared/_common.scss */
.social__link--facebook:hover {
  background-color: #3b5998;
}

/* line 39, src/scss/_shared/_common.scss */
.social__link--instagram:hover {
  background-color: #e1306c;
}

/* line 44, src/scss/_shared/_common.scss */
.social__link:hover {
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 47, src/scss/_shared/_common.scss */
.social__link:hover .icon-font {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 53, src/scss/_shared/_common.scss */
.social__link:not(:last-of-type) {
  margin-right: 10px;
}

/* line 57, src/scss/_shared/_common.scss */
.social__link .icon-font {
  color: #000000;
  font-size: 22px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 7, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 11, src/scss/_macros/_logotype.scss */
.logo__text {
  display: block;
  color: #ffffff;
  font-size: 44px;
  line-height: 0.8;
}

/* line 3, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 55px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  background-color: #74a643;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 20, src/scss/_macros/_btn.scss */
.c-btn:hover {
  background-color: #67943c;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 25, src/scss/_macros/_btn.scss */
.c-btn__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 29, src/scss/_macros/_btn.scss */
.c-btn__wrapper--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 34, src/scss/_macros/_btn.scss */
.c-btn.c-btn--small {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 39, src/scss/_macros/_btn.scss */
.c-btn.c-btn--small span {
  font-size: 18px;
  font-weight: 500;
}

/* line 45, src/scss/_macros/_btn.scss */
.c-btn span {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #e31937;
}

/* line 12, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 18, src/scss/_components/_header.scss */
.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 23, src/scss/_components/_header.scss */
.header__nav > *:not(:last-child) {
  margin-right: 30px;
}

/* line 28, src/scss/_components/_header.scss */
.header__nav-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 39, src/scss/_components/_header.scss */
.header__nav-link.header__nav-link--default:hover {
  color: #000000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 43, src/scss/_components/_header.scss */
.header__nav-link.header__nav-link--default:hover:before {
  opacity: 1;
  visibility: visible;
  height: 75%;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* line 52, src/scss/_components/_header.scss */
.header__nav-link:before {
  content: '';
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -10px;
  bottom: 0;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  height: 0;
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
  background-color: #ffffff;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* line 71, src/scss/_components/_header.scss */
.header__nav-container:hover .header__nav-link {
  color: #000000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 75, src/scss/_components/_header.scss */
.header__nav-container:hover .header__nav-link:before {
  opacity: 1;
  visibility: visible;
  height: 75%;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* line 82, src/scss/_components/_header.scss */
.header__nav-container:hover .header__nav-dropdown {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 92, src/scss/_components/_header.scss */
.header__nav-dropdown {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  z-index: 999;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 30px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 108, src/scss/_components/_header.scss */
.header__nav-block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 111, src/scss/_components/_header.scss */
.header__nav-block-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 3);
  max-width: calc(100% / 3);
  padding-left: 50px;
  padding-right: 50px;
}

/* line 117, src/scss/_components/_header.scss */
.header__nav-block-wrapper > div:not(:last-of-type) {
  border-right: 1px solid silver;
}

/* line 123, src/scss/_components/_header.scss */
.header__nav-block-title {
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  text-decoration: underline;
}

/* line 132, src/scss/_components/_header.scss */
.header__nav-block-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 136, src/scss/_components/_header.scss */
.header__nav-block-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 139, src/scss/_components/_header.scss */
.header__nav-block-list li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  text-transform: capitalize;
}

/* line 146, src/scss/_components/_header.scss */
.header__nav-block-list li a:hover {
  text-decoration: underline;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000000;
}

/* line 9, src/scss/_components/_footer.scss */
.footer__wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
}

/* line 17, src/scss/_components/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 23, src/scss/_components/_footer.scss */
.footer__nav a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75);
}

/* line 29, src/scss/_components/_footer.scss */
.footer__nav a:not(:last-of-type) {
  margin-right: 25px;
}

/* line 35, src/scss/_components/_footer.scss */
.footer__desc {
  color: #ffffff;
  font-size: 15px;
}

/* line 39, src/scss/_components/_footer.scss */
.footer__desc-wrapper {
  padding-bottom: 15px;
}

/* line 3, src/scss/_components/homepage/_main.scss */
.main {
  padding-top: 200px;
  padding-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(white));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, white 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, white 100%);
}

/* line 8, src/scss/_components/homepage/_main.scss */
.main .c-grid {
  max-width: 1366px;
}

/* line 12, src/scss/_components/homepage/_main.scss */
.main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 15, src/scss/_components/homepage/_main.scss */
.main__wrapper-left, .main__wrapper-right {
  width: 50%;
}

/* line 20, src/scss/_components/homepage/_main.scss */
.main__wrapper-left {
  padding-right: 30px;
}

/* line 23, src/scss/_components/homepage/_main.scss */
.main__wrapper-left img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 30px auto;
}

/* line 31, src/scss/_components/homepage/_main.scss */
.main__wrapper-right {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 37, src/scss/_components/homepage/_main.scss */
.main__wrapper-right img {
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
}

/* line 44, src/scss/_components/homepage/_main.scss */
.main__wrapper-right img:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 53, src/scss/_components/homepage/_main.scss */
.main__title {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 48px;
  color: #494949;
  line-height: 1.2;
}

/* line 62, src/scss/_components/homepage/_main.scss */
.main__desc {
  font-size: 24px;
  color: #78828d;
}

/* line 3, src/scss/_components/homepage/_popular.scss */
.popular {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* line 7, src/scss/_components/homepage/_popular.scss */
.popular__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 10, src/scss/_components/homepage/_popular.scss */
.popular__wrapper-left, .popular__wrapper-right {
  width: 50%;
}

/* line 15, src/scss/_components/homepage/_popular.scss */
.popular__wrapper-left {
  padding-right: 25px;
}

/* line 19, src/scss/_components/homepage/_popular.scss */
.popular__wrapper-right {
  padding-left: 25px;
}

/* line 24, src/scss/_components/homepage/_popular.scss */
.popular__title {
  padding-bottom: 50px;
  text-align: center;
  color: #494949;
  font-size: 26px;
  font-weight: 700;
}

/* line 33, src/scss/_components/homepage/_popular.scss */
.popular__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 25px;
}

/* line 38, src/scss/_components/homepage/_popular.scss */
.popular__box-label {
  font-size: 14px;
  font-weight: 600;
  color: #8695a7;
  text-transform: uppercase;
}

/* line 45, src/scss/_components/homepage/_popular.scss */
.popular__box-title {
  color: #494949;
  font-size: 23px;
  font-weight: 600;
}

/* line 51, src/scss/_components/homepage/_popular.scss */
.popular__box-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  color: #838382;
}

/* line 3, src/scss/_components/homepage/_about.scss */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 7, src/scss/_components/homepage/_about.scss */
.about__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #ffffff;
}

/* line 15, src/scss/_components/homepage/_about.scss */
.about__wrapper-left {
  width: 100%;
  max-width: 375px;
}

/* line 20, src/scss/_components/homepage/_about.scss */
.about__wrapper-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 20px;
}

/* line 28, src/scss/_components/homepage/_about.scss */
.about__visual {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 375px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #efefef;
}

/* line 42, src/scss/_components/homepage/_about.scss */
.about__title {
  padding-bottom: 30px;
  font-size: 40px;
  color: #494949;
}

/* line 49, src/scss/_components/homepage/_about.scss */
.about__desc {
  padding-bottom: 60px;
  font-size: 20px;
  color: #78828d;
}

/* line 3, src/scss/_components/homepage/_partners.scss */
.partners {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

/* line 8, src/scss/_components/homepage/_partners.scss */
.partners__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 12, src/scss/_components/homepage/_partners.scss */
.partners__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 16, src/scss/_components/homepage/_partners.scss */
.partners__block-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 24, src/scss/_components/homepage/_partners.scss */
.partners__block-left {
  width: 100%;
  max-width: 130px;
}

/* line 29, src/scss/_components/homepage/_partners.scss */
.partners__block-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 30px;
}

/* line 36, src/scss/_components/homepage/_partners.scss */
.partners__block-visual {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 170px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

/* line 48, src/scss/_components/homepage/_partners.scss */
.partners__block-title {
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: 500;
  color: #494949;
}

/* line 56, src/scss/_components/homepage/_partners.scss */
.partners__block-info {
  padding-top: 15px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #a3a1a1;
}

/* line 3, src/scss/_components/homepage/_describe.scss */
.describe {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 7, src/scss/_components/homepage/_describe.scss */
.describe__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #ffffff;
}

/* line 17, src/scss/_components/homepage/_describe.scss */
.describe__wrapper.describe__wrapper--reverse .describe__wrapper-left {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

/* line 20, src/scss/_components/homepage/_describe.scss */
.describe__wrapper.describe__wrapper--reverse .describe__wrapper-right {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding-left: 0;
  padding-right: 20px;
}

/* line 28, src/scss/_components/homepage/_describe.scss */
.describe__wrapper:not(:last-of-type) {
  margin-bottom: 25px;
}

/* line 32, src/scss/_components/homepage/_describe.scss */
.describe__wrapper-left {
  width: 100%;
  max-width: 375px;
}

/* line 37, src/scss/_components/homepage/_describe.scss */
.describe__wrapper-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 20px;
}

/* line 45, src/scss/_components/homepage/_describe.scss */
.describe__visual {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #efefef;
}

/* line 59, src/scss/_components/homepage/_describe.scss */
.describe__title {
  padding-bottom: 30px;
  font-size: 40px;
  color: #494949;
}

/* line 66, src/scss/_components/homepage/_describe.scss */
.describe__desc {
  padding-bottom: 60px;
  font-size: 20px;
  color: #78828d;
}

/*# sourceMappingURL=maps/app.css.map */
