// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper.footer__wrapper-1

      .logo.logo--footer
        a.logo__btn(href="/")
          span.logo__text HerdMarkets

      nav.footer__nav
        a(href="#") About Us
        a(href="#") Instagram
        a(href="#") Twitter
        a(href="#") Youtube
        a(href="#") Privacy

      .footer__desc-wrapper
        p.footer__desc Some of the links on this websites articles and comparison tables are affiliate links, which means we receive a commission should open an active account.
        p.footer__desc This does not increase the cost to you for using a broker and is how the site is funded and covers the costs of running this website.
        p.footer__desc The information contained in this website is for informational purposes only and does not constitute financial advice.
        p.footer__desc The material does not contain (and should not be construed as containing) investment advice or an investment recommendation,or, an offer of or solicitation for, a transaction in any financial instrument.

      .footer__desc-wrapper
        p.footer__desc RISK WARNING: Your capital is at risk. Trade with caution, these products might not be suitable for everyone so make sure you understand the risks involved.
        p.footer__desc CFDs are complex instruments and come with a high risk of losing money rapidly due to leverage.
        p.footer__desc Between 74-89% of retail investor accounts lose money when trading CFDs.
        p.footer__desc You should consider whether you understand how CFDs work and whether you can afford to take the high risk of losing your money.
        p.footer__desc Please note that Herd Markets may have financial relationships with some of the merchants mentioned here and may be compensated if consumers choose to click the links located throughout the content on this site.


    .footer__wrapper.footer__wrapper-2
      div

        .copyright
          p.copyright__text COPYRIGHT © 2021. ALL RIGHTS RESERVED

      div

        .social
          a.social__link.social__link--twitter(href="#" title='Twitter')
            i.icon-font.icon-twitter
          a.social__link.social__link--facebook(href="#" title='Facebook')
            i.icon-font.icon-facebook
          a.social__link.social__link--instagram(href="#" title='Instagram')
            i.icon-font.icon-instagram

// FOOTER :: END
