// HEADER :: START

header#header.header
  .c-grid-fluid
    .header__wrapper
      .header__wrapper-left

        .logo.logo--header
          a.logo__btn(href="/")
            span.logo__text HerdMarkets

        +hamburger()

      .header__wrapper-right(mobile-block-js)

        nav.header__nav
          a.header__nav-link.header__nav-link--default(href="#") Popular
          a.header__nav-link.header__nav-link--default(href="#") Education
          a.header__nav-link.header__nav-link--default(href="#") Finance

          .header__nav-container
            a.header__nav-link(href="#") Investing
            .header__nav-dropdown
              .c-grid

                .header__nav-block-wrapper
                  div
                    .header__nav-block
                      p.header__nav-block-title Investing Basics
                      ul.header__nav-block-list
                        li
                          a(href="#") How To Buy Shares
                        li
                          a(href="#") How to build a share portfolio
                        li
                          a(href="#") How the stock market works
                        li
                          a(href="#") Investing Terms Explained
                  div
                    .header__nav-block
                      p.header__nav-block-title Investing Basics
                      ul.header__nav-block-list
                        li
                          a(href="#") How To Buy Shares
                        li
                          a(href="#") How to build a share portfolio
                        li
                          a(href="#") How the stock market works
                        li
                          a(href="#") Investing Terms Explained
                  div
                    .header__nav-block
                      p.header__nav-block-title Investing Basics
                      ul.header__nav-block-list
                        li
                          a(href="#") How To Buy Shares
                        li
                          a(href="#") How to build a share portfolio
                        li
                          a(href="#") How the stock market works
                        li
                          a(href="#") Investing Terms Explained

// HEADER :: END
