---
title: HerdMarkets

pageClassName: p-home
---
extends shared/_layout

block script
  script.
    const initPreventBehavior = () => {
      const link = document.querySelectorAll("a");
      link.forEach((val, idx) => {val.addEventListener("click", (e) => {
          if(val.getAttribute("href") === "#") {
            e.preventDefault();
          }
        });
      });
    };
block content
  div.body.body--start(class!= pageClassName)

    include components/homepage/_main
    include components/homepage/_popular
    include components/homepage/_about
    include components/homepage/_partners
    include components/homepage/_describe
