// HEADER :: START

.header {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 2px 10px 0 rgba(#000, 0.05);
	background-color: #e31937;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptive(767) {
			height: 80px;
		}

		&-left {
			@include adaptive(767) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
			}
		}

		&-right {
			@include adaptive(767) {
				z-index: 999;
				opacity: 0;
				visibility: hidden;
				transform: translateX(-100%);
				overflow-y: auto;
				position: fixed;
				top: 80px;
				left: 0;
				width: 100%;
				height: calc(100% - 80px);
				padding: 20px 20px 100px;
				background-color: rgba(#ffffff, 0.975);
				transform-origin: center;
				backface-visibility: hidden;
				@include transition(opacity, visibility, transform);

				&.is-open {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					@include transition(opacity, visibility, transform);
				}
			}
		}

		.hamburger {
			display: none;
			@include adaptive(767) {
				display: flex;
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		@include adaptive(767) {
			align-items: flex-start;
			flex-direction: column;
		}

		> * {
			&:not(:last-child) {
				margin-right: 30px;
				@include adaptive(1023) {
					margin-right: 25px;
				}
				@include adaptive(767) {
					margin-right: 0;
				}
			}
		}

		&-link {
			position: relative;
			display: flex;
			align-items: center;
			height: 100px;
			color: #ffffff;
			font-size: 18px;
			font-weight: 700;
			@include transition(color);
			@include adaptive(1023) {
				font-size: 16px;
			}
			@include adaptive(767) {
				position: static;
				width: 100%;
				height: 55px;
				color: #000000;
			}

			&.header__nav-link--default {
				&:hover {
					color: #000000;
					@include transition(color);

					&:before {
						opacity: 1;
						visibility: visible;
						height: 75%;
						@include transition(opacity, visibility, height);
					}
				}
			}

			&:before {
				content: '';
				z-index: -1;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				left: -10px;
				bottom: 0;
				width: calc(100% + 20px);
				height: 0;
				border-radius: 3px 3px 0 0;
				background-color: #ffffff;
				@include transition(opacity, visibility, height);
				@include adaptive(767) {
					display: none;
				}
			}
		}

		&-container {
			@include adaptive(767) {
				width: 100%;
			}

			&:hover {
				.header__nav {
					&-link {
						color: #000000;
						@include transition(color);

						&:before {
							opacity: 1;
							visibility: visible;
							height: 75%;
							@include transition(opacity, visibility, height);
						}
					}
					&-dropdown {
						opacity: 1;
						visibility: visible;
						transform: translateY(0);
						@include transition(opacity, visibility, transform);
					}
				}
			}
		}

		&-dropdown {
			opacity: 0;
			visibility: hidden;
			transform: translateY(10px);
			z-index: 999;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			padding: 30px;
			box-shadow: 0 2px 10px 0 rgba(#000, 0.05);
			background-color: #ffffff;
			@include transition(opacity, visibility, transform);
			@include adaptive(1279) {
				padding-left: 0;
				padding-right: 0;
			}
			@include adaptive(1023) {
				.c-grid {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			@include adaptive(767) {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				z-index: 0;
				position: static;
				box-shadow: none;
				padding-top: 0;

				.c-grid {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		&-block {
			&-wrapper {
				display: flex;
				@include adaptive(767) {
					flex-wrap: wrap;
				}

				> div {
					width: 100%;
					max-width: calc(100% / 3);
					padding-left: 50px;
					padding-right: 50px;
					@include adaptive(1023) {
						padding-left: 15px;
						padding-right: 15px;
					}
					@include adaptive(767) {
						max-width: 100%;
						padding-bottom: 15px;
					}

					&:not(:last-of-type) {
						border-right: 1px solid silver;
						@include adaptive(767) {
							border: none;
						}
					}
				}
			}

			&-title {
				padding-bottom: 15px;
				@extend %fontInter;
				font-weight: 500;
				font-size: 18px;
				color: #000000;
				text-decoration: underline;
				@include adaptive(1023) {
					font-size: 16px;
				}
			}

			&-list {
				display: flex;
				flex-direction: column;

				li {
					display: flex;

					a {
						display: flex;
						font-size: 16px;
						line-height: 40px;
						color: #000000;
						text-transform: capitalize;
						@include adaptive(1023) {
							font-size: 14px;
						}

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

// HEADER :: END
