// SECTION :: START

.about {
	padding-top: 50px;
	padding-bottom: 50px;
	@include adaptive(767) {
		padding-top: 25px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		padding: 20px;
		box-shadow: 0 2px 10px 0 rgba(#000, 0.05);
		border-radius: 10px;
		background-color: #ffffff;
		@include adaptive(767) {
			flex-wrap: wrap;
		}

		&-left {
			width: 100%;
			max-width: 375px;
			@include adaptive(1023) {
				max-width: 325px;
			}
			@include adaptive(767) {
				max-width: 225px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-left: 20px;
			@include adaptive(767) {
				flex: 100%;
				padding-left: 0;
				padding-top: 20px;
			}
		}
	}

	&__visual {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 375px;
		border-radius: 10px;
		background-color: #efefef;
		@include adaptive(1023) {
			height: 325px;
		}
		@include adaptive(767) {
			height: 225px;
		}

		img,
		svg {
			@extend %imageResCoverAbs;
		}
	}

	&__title {
		padding-bottom: 30px;
		font-size: 40px;
		color: #494949;
		@extend %fontInter;
		@include adaptive(1279) {
			font-size: 36px;
		}
		@include adaptive(1023) {
			font-size: 33px;
		}
		@include adaptive(767) {
			font-size: 30px;
			text-align: center;
		}
	}

	&__desc {
		padding-bottom: 60px;
		font-size: 20px;
		color: #78828d;
		@include adaptive(1279) {
			font-size: 18px;
		}
		@include adaptive(1023) {
			font-size: 16px;
		}
		@include adaptive(767) {
			padding-bottom: 30px;
			font-size: 14px;
			text-align: center;
		}
	}

	&__btn {
		@include adaptive(767) {
			justify-content: center;
		}
	}
}

// SECTION :: END
