// SECTION :: START

.main {
	padding-top: 200px;
	padding-bottom: 50px;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(#fff,1) 100%);
	@include adaptive(767) {
		padding-top: 125px;
	}

	.c-grid {
		max-width: 1366px;
	}

	&__wrapper {
		display: flex;
		@include adaptive(767) {
			flex-wrap: wrap;
		}

		&-left,
		&-right {
			width: 50%;
			@include adaptive(767) {
				width: 100%;
			}
		}

		&-left {
			padding-right: 30px;
			@include adaptive(767) {
				padding-right: 0;
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				margin: 30px auto;
				@include adaptive(767) {
					margin-top: 50px;
					margin-bottom: 50px;
				}
			}
		}

		&-right {
			position: relative;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			@include adaptive(767) {
				display: none;
			}

			img {
				transform: translateY(50px);
				display: block;
				max-width: 100%;
				height: auto;
				margin-left: auto;
				
				&:nth-of-type(2) {
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}
		}
	}

	&__title {
		padding-bottom: 30px;
		@extend %fontInter;
		font-weight: 500;
		font-size: 48px;
		color: #494949;
		line-height: 1.2;
		@include adaptive(1279) {
			font-size: 44px;
		}
		@include adaptive(1023) {
			font-size: 40px;
		}
		@include adaptive(767) {
			font-size: 35px;
			text-align: center;
		}
	}

	&__desc {
		font-size: 24px;
		color: #78828d;
		@include adaptive(1279) {
			font-size: 22px;
		}
		@include adaptive(1023) {
			font-size: 20px;
		}
		@include adaptive(767) {
			font-size: 18px;
			text-align: center;
		}
	}

	&__btn {
		@include adaptive(767) {
			justify-content: center;
		}
	}
}

// SECTION :: END
