// SECTION :: START

.popular {
	padding-top: 100px;
	padding-bottom: 50px;
	@include adaptive(767) {
		padding-top: 50px;
		padding-bottom: 25px;
	}

	&__wrapper {
		display: flex;
		@include adaptive(767) {
			flex-wrap: wrap;
		}

		&-left,
		&-right {
			width: 50%;
			@include adaptive(767) {
				width: 100%;
			}
		}

		&-left {
			padding-right: 25px;
			@include adaptive(767) {
				padding-right: 0;
			}
		}

		&-right {
			padding-left: 25px;
			@include adaptive(767) {
				padding-left: 0;
			}
		}
	}

	&__title {
		padding-bottom: 50px;
		text-align: center;
		color: #494949;
		@extend %fontInter;
		font-size: 26px;
		font-weight: 700;
		@include adaptive(767) {
			padding-bottom: 25px;
			font-size: 25px;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		padding-bottom: 25px;

		&-label {
			font-size: 14px;
			font-weight: 600;
			color: #8695a7;
			text-transform: uppercase;
			@include adaptive(767) {
				font-size: 12px;
			}
		}

		&-title {
			color: #494949;
			font-size: 23px;
			font-weight: 600;
			@include adaptive(767) {
				font-size: 20px;
			}
		}

		&-link {
			display: flex;
			font-size: 14px;
			font-weight: 700;
			color: #838382;
			@include adaptive(767) {
				font-size: 12px;
			}
		}
	}
}

// SECTION :: END
