// BUTTON :: START

.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 55px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  box-shadow: none;
  border-radius: 2rem;
  background-color: #74a643;
  @include transition(background-color);

  &:hover {
    background-color: darken(#74a643, 5%);
    @include transition(background-color);
  }

  &__wrapper {
    display: flex;
    align-items: center;

    &--center {
      justify-content: center;
    }
  }

  &.c-btn--small {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    @include adaptive(1279) {
      padding-left: 15px;
      padding-right: 15px;
    }

    span {
      font-size: 18px;
      font-weight: 500;
    }
  }

  span {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
  }
}

// BUTTON :: END
