// LOGOTYPE :: START

.logo {
	&.logo--header {}
	&.logo--footer {}

	&__btn {
		display: flex;
	}

	&__text {
		display: block;
		color: #ffffff;
		@extend %fontDMSerifText;
		font-size: 44px;
		line-height: 0.8;
		@include adaptive(1023) {
			font-size: 40px;
		}
	}
}

// LOGOTYPE :: END
