// SECTION :: START

section#about.about
  .c-grid
    .about__wrapper
      .about__wrapper-left

        .about__visual

      .about__wrapper-right

        p.about__title Ethical Investing in 2021
        p.about__desc When building investment portfolios. Helping to make the world a better place while making a profit is an admirable concept. In our ethical investing guide we delve how ethical investing has changed and what to expect for the future.
        .about__btn.c-btn__wrapper
          a.c-btn.c-btn--small(href="#")
            span Learn More

// SECTION :: END
