// SECTION :: START

section#describe.describe
  .c-grid
    .describe__wrapper

      .describe__wrapper-left

        .describe__visual

      .describe__wrapper-right

        p.describe__title Personal Pensions Guide 2021
        p.describe__desc A pension is essential in the modern age. Even though its easy to not take pension planning seriously, investors should take full advantage of all of the tax breaks and long term savings that a pension retirement plan can offer.
        .describe__btn.c-btn__wrapper
          a.c-btn.c-btn--small(href="#")
            span Learn More

    .describe__wrapper.describe__wrapper--reverse

      .describe__wrapper-left

        .describe__visual

      .describe__wrapper-right

        p.describe__title Digital Banking Explained
        p.describe__desc The growth of the internet and mobile apps have taken the banking world by storm. Digital banking is not only the future it is now.
        .describe__btn.c-btn__wrapper
          a.c-btn.c-btn--small(href="#")
            span Learn More

    .describe__wrapper

      .describe__wrapper-left

        .describe__visual

      .describe__wrapper-right

        p.describe__title Credit Scores in 2021
        p.describe__desc Credit scores are an important part of modern life. A good credit score can give better access to personal finance, mobile phone contracts, credit cards and mortgages.
        .describe__btn.c-btn__wrapper
          a.c-btn.c-btn--small(href="#")
            span Learn More

    .describe__wrapper.describe__wrapper--reverse

      .describe__wrapper-left

        .describe__visual

      .describe__wrapper-right

        p.describe__title Investing in A.I.
        p.describe__desc Artficial Intelligence is evolving very quickly. From space rockets, search engines to autonomus cars and drones A.I. is set to be the next technological revolution.
        .describe__btn.c-btn__wrapper
          a.c-btn.c-btn--small(href="#")
            span Learn More

// SECTION :: END
