// SECTION :: START

main#main.main
  .c-grid
    .main__wrapper
      .main__wrapper-left
        h1.main__title Investment Education and Market Insights
        p.main__desc Whether you want to learn more about personal finance or trade Stocks, Currencies, Commodities and Indices our guides will help you.

        img(src="img/img-main-1.png" srcset="img/img-main-1@2x.png 2x" alt="")

        .c-btn__wrapper
          a.c-btn(href="#")
            span Learn More

      .main__wrapper-right
        img(src="img/img-main-2.png" srcset="img/img-main-2@2x.png 2x" alt="")
        img(src="img/img-main-3.png" srcset="img/img-main-3@2x.png 2x" alt="")


// SECTION :: END
