// SECTION :: START

section#partners.partners
  .c-grid
    .partners__wrapper

      .partners__block-wrapper
        .partners__block-col
          .partners__block
            .partners__block-left
              .partners__block-visual
                img(src="img/img-partners-1.png" srcset="img/img-partners-1@2x.png 2x" alt="")
            .partners__block-right
              p.partners__block-title How Tesla took over the world
              .c-btn__wrapper
                a.c-btn.c-btn--small(href="#")
                  span Learn More
              p.partners__block-info Updated 10/04/2021
        .partners__block-col
          .partners__block
            .partners__block-left
              .partners__block-visual
                img(src="img/img-partners-2.png" srcset="img/img-partners-2@2x.png 2x" alt="")
            .partners__block-right
              p.partners__block-title Apple sees huge growth
              .c-btn__wrapper
                a.c-btn.c-btn--small(href="#")
                  span Learn More
              p.partners__block-info Updated 10/04/2021
        .partners__block-col
          .partners__block
            .partners__block-left
              .partners__block-visual
                img(src="img/img-partners-3.png" srcset="img/img-partners-3@2x.png 2x" alt="")
            .partners__block-right
              p.partners__block-title Amazon spreads to new markets
              .c-btn__wrapper
                a.c-btn.c-btn--small(href="#")
                  span Learn More
              p.partners__block-info Updated 10/04/2021

// SECTION :: END
