// SECTION :: START

section#popular.popular
  .c-grid

    p.popular__title Most Popular

    .popular__wrapper
      .popular__wrapper-left
        .popular__box
          p.popular__box-label Economy
          p.popular__box-title Will House Prices Crash
          a.popular__box-link(href="#") Learn more

        .popular__box
          p.popular__box-label Emerging Markets
          p.popular__box-title Investing in Asia
          a.popular__box-link(href="#") Learn more

        .popular__box
          p.popular__box-label Pensions & Investing
          p.popular__box-title Pensions in 2021
          a.popular__box-link(href="#") Learn more

        .popular__box
          p.popular__box-label Financial Regulation
          p.popular__box-title Financial Ombudsman Know your Rights
          a.popular__box-link(href="#") Learn more


      .popular__wrapper-right
        .popular__box
          p.popular__box-label Digital Currency
          p.popular__box-title Cryptocurrency The Next Generation
          a.popular__box-link(href="#") Learn more

        .popular__box
          p.popular__box-label Investment Strategies
          p.popular__box-title Protect Your Portfolio
          a.popular__box-link(href="#") Learn more

        .popular__box
          p.popular__box-label Investing Tech
          p.popular__box-title March of Machine Investing
          a.popular__box-link(href="#") Learn more

        .popular__box
          p.popular__box-label Stock Markets
          p.popular__box-title Buying Shares in 2021
          a.popular__box-link(href="#") Learn more


// SECTION :: END
